@import '../helpers/mixins';
@import '../components/progress';
@import '../components/menu';

body{
	font-size: 16px;
}

.gilt-container{
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

$banner-height: 40px;
.gilt-banner{
	background: #333;
	color: #fff;
	width: 100%;
	height: $banner-height;
	position: fixed;
	top: 0;
	padding: 10px 15px;
}

.gilt-container---banner{
	margin-top: $banner-height;
}
.gilt-user-detail-wrap{
	padding-top: 30px;
}
.gilt-user-name{
	font-size: 1.3rem;
	font-weight: bold;
}

.gilt-header{
	position: fixed;
    top: -130px;
    width: 120%;
    height: 252px;
    background-color: #000;
    // background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    
    opacity: 0.8;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: -10%;

    .gilt-header-top{
    	height: 80px;
    }

    .gilt-header__company-name{
    	color: #000;
    	font-size: 1.5rem;
    }
    .gilt-header__search-container{
	    	background-color: #000;
	    .gilt-header__search{
	    	max-width: 1200px;
	    	height: 40px;
	    	margin-right: auto;
	    	margin-left: auto;

	    	.gilt-header__search__search-ele{
	    		position: relative;
	    		&:before{
	    			position: absolute;
	    			right: 10px;
	    			color: #666;
	    			top: 50%;
	    			@include translate(0, -50%);
	    		}
	    	}

	    	input{
	    		border: 0;
	    		height: 30px;
	    		outline:none;
	    		width: 150px;
	    		padding: 0 15px;
	    		transition: 0.5s width;
	    		&:focus{
	    			width: 300px;
	    			
	    		}
	    	}
	    }
    }
}
.gilt-user-list{
	margin-top: 135px;
}
.gilt-user-item{
	padding: 20px;
	border-bottom: 1px solid #ccc;
	min-height: 100px;
}
.gilt-user-item__icon{
	padding-right: 20px;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	border-radius: 26px;
	border: 2px solid #ccc;
}
.gilt-user-item__name{
	color: #09c;
	font-size: 1rem;
	font-weight: bold;
}
.gilt-user-item__info{
	color: #666;
	font-size: 0.8rem;
}
.gilt-user-item__activity-icon{
	font-size: 0.9rem;
	color: #ccc;
}

@media(min-width: 768px) {
	.gilt-header{
		position: initial;
	    top: 0px;
	    width: 100%;
	    height: 100px;
	    background-color: #fff;
	    color: white;
	    opacity: 1;
	    border-radius: 0;
	    margin-left: 0;
	}
	.gilt-user-list{
		margin-top: 0px;
	}
	.gilt-user-item{
		padding: 20px;
		border-bottom: 1px solid #ccc;
		width: 50%;
		min-height: 200px;
		display: inline-block;
	}
}

.gilt-user-photo{
	border: 3px solid #09c;
	width: 100px;
	height: 100px;
	border-radius: 51px;
}