<gilt-header></gilt-header>
<gilt-menu></gilt-menu>
<div class="gilt-container">
	<div class="gilt-user-list">
		<div class="gilt-user-item" ng-repeat="u in userModel.data.users">
			<div class=" d-flex align-items-center">
				<div class="gilt-user-item__icon"></div>
				<div>
					<div class="gilt-user-item__name" ng-click="onClickItem(u)">
						{{u.name.first}}  {{u.name.last}}
					</div>
					<div class="gilt-user-item__info">
						{{u.email}}
					</div>
					<div class="gilt-user-item__info">
						{{u.phone}}
					</div>
					<div class="gilt-user-item__activity-icon">
						<span class="ion-eye">21</span>
						<span class="ion-chatbox-working">8</span>
						<span class="ion-ios-location">3</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<gilt-progress></gilt-progress>