
<div class="gilt-banner d-flex align-items-center">
	<div class=" ion-arrow-left-c" ng-click="onClickBackBtn()"></div>
</div>

<div class="gilt-container---banner">
	<div class="gilt-user-detail-wrap d-flex flex-column align-items-center">
		<div class="gilt-user-photo"></div>
		<div class="gilt-user-name">
			{{userData.name.first}} 
			{{userData.name.last}}
		</div>
		<div>
			{{userData.email}}
		</div>
		<div>
			{{userData.phone}}
		</div>
	</div>
</div>