@import '../base/all';

.gilt-menu{
	position: fixed;
	top: 0;
    z-index: 1000;
    background-color: #fff;
    width: 80%;
    border-right: 1px solid #333;
    height: 100%;
    left: -100%;
    transition: 0.6s left;
    z-index: 1000;
}
.gilt-menu-wrap{
	position: relative;
	padding: 20px;
}
.gilt-menu-item{
	padding: 10px;
    border-bottom: 1px solid #ccc;
	&:before{
		margin-right: 10px;
	}
}
.gilt-menu--show{
	left: 0%;
}
.gilt-menu__close{
	position: absolute;
	top: 10px;
	right: 10px;
}