.gilt-progress,
.gilt-progress__spinner {
    box-sizing: border-box;
}

.gilt-progress {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0, .2);
}

.gilt-progress-wrap {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    // border: 1px solid red;
}
.gilt-progress__icon{
  // position: absolute;
  // width:40px;
  // height: 40px;
  // top: 30px;
  // left: 30px;
  // border-radius: 20px;
  // background-size: 70%;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-color: red;
}

.gilt-progress__spinner {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 2px solid #09c;
    top: 10px;
    left: 10px;
    border-radius: 40px;
    border-bottom-color: #ddd;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// mobile
@media(max-width: 768px) {}